[submodule "FoundryStorage/lib/forge-std"]
	path = FoundryStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryBank/lib/forge-std"]
	path = FoundryBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
