[submodule "FoundryStorage/lib/forge-std"]
	path = FoundryStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryBank/lib/forge-std"]
	path = FoundryBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryBank/lib/chainlink-brownie-contracts"]
	path = FoundryBank/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "FoundryBank/lib/foundry-devops"]
	path = FoundryBank/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "6.FoundryRaffle/lib/forge-std"]
	path = 6.FoundryRaffle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "6.FoundryRaffle/lib/chainlink-brownie-contracts"]
	path = 6.FoundryRaffle/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "6.FoundryRaffle/lib/solmate"]
	path = 6.FoundryRaffle/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "6.FoundryRaffle/lib/foundry-devops"]
	path = 6.FoundryRaffle/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "7.Erc20/lib/forge-std"]
	path = 7.Erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "7.Erc20/lib/openzeppelin-contracts"]
	path = 7.Erc20/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "8.NFT/lib/forge-std"]
	path = 8.NFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
